body {
    background-color: #0f0f0f;
}

.navbar-dark.bg-dark {
    background-color: #000 !important;
    border-bottom: 1px solid #d4af37;
}

/* Título principal en Dorado */
h2 {
    color: #d4af37 !important;
    border-left: 5px solid #d4af37;
    padding-left: 15px;
}

/* SUBTÍTULO en Dorado para que sea visible sobre el fondo blanco/negro */
.text-muted {
    color: #d4af37 !important; 
    font-weight: 500;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #d4af37;
    transition: 0.3s;
}

/* Nombres en blanco */
.card h5 {
    color: #ffffff !important;
}

/* NÚMEROS de teléfono dentro de la tarjeta en BLANCO */
.card .text-muted {
    color: #ffffff !important;
    font-weight: normal;
}

.btn-outline-primary {
    color: #d4af37;
    border-color: #d4af37;
}

.btn-outline-primary:hover {
    background-color: #d4af37;
    color: #000;
}