body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #000 !important;
    border-bottom: 2px solid #d4af37;
}

.card {
    background-color: #161616;
    border: 1px solid #d4af37;
    margin-top: 50px;
    border-radius: 15px;
}

.card-header {
    background-color: #000 !important;
    color: #d4af37 !important;
    border-bottom: 1px solid #d4af37 !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

label.text-muted {
    color: #d4af37 !important; /* Etiquetas en dorado */
    letter-spacing: 1px;
}

#perfilEmail, #perfilPass {
    color: #ffffff; /* Datos que vienen del login en blanco */
    font-weight: 500;
}

.btn-danger {
    background-color: #c0392b;
    border: none;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.btn-danger:hover {
    background-color: #a93226;
    transform: scale(1.02);
}